@import "tailwindcss";

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

/* Ẩn thanh cuộn ngang */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Hiển thị thanh cuộn ngang ở dưới cùng */
::-webkit-scrollbar {
    height: 8px; /* độ dày thanh cuộn ngang */
}

::-webkit-scrollbar-track {
    background: #e2e8f0; /* slate-200 */
}

::-webkit-scrollbar-thumb {
    background: #94a3b8; /* slate-400 */
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #64748b; /* slate-500 khi hover */
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    /* Dùng overflow-hidden nếu bạn muốn cuộn Board bên trong thay vì cuộn body */
    /* overflow: hidden; */
}